<header class="header">
    <img src="images/logo-tesla.svg" alt="Логотип Tesla" class="header__logo">
    <nav class="header__menu">
        <a href="#" class="header__item item_active">Model&nbsp;S</a>
        <a href="#" class="header__item">Model&nbsp;X</a>
        <a href="#" class="header__item">Model&nbsp;3</a>
        <a href="#" class="header__item">Roadster</a>
        <a href="#" class="header__item">Energy</a>
    </nav>
    <div class="header__shop">
        <a href="#" class="header__item">Магазин</a>
        <a href="#" class="header__item">Войти</a>
    </div>
</header>
<div class="burger">
    <div class="red-line"></div>
    <div class="red-line"></div>
    <div class="red-line"></div>
</div>
