<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>New Tesla landing</title>
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <link rel="stylesheet" href="styles/styles.min.css">
    </head>
    <body>
        {{> header }}
        {{> about-model-s }}
        {{> comfort-model-s }}
        {{> safety-model-s }}
    </body>
</html>
