<section class="acquaintance-model">
    <h1 class="acquaintance-model__heading">Model S</h1>
    <p class="acquaintance-model__text standart-text">Добро пожаловать в будущее!</p>
    <div class="acquaintance-model__tesla-background"></div>
    <img src="images/red-tesla.png" alt="Tesla Model S" class="acquaintance-model__tesla-img">
    <div class="acquaintance-model__specification">
        <div class="acquaintance-model__feature-wrapper">
            <div class="feature acquaintance-model__speed-statistic">
                <p><span class="big-bold-text">{{ model.s.racing }}</span> <span class="little-bold-text">сек</span></p>
                <p class="small-discription-text">0-100 км/час</p>
            </div>
            <div class="feature acquaintance-model__mileage-statistic">
                <p><span class="big-bold-text">{{ model.s.distance }}</span> <span class="little-bold-text">км</span></p>
                <p class="small-discription-text">Запас хода</p>
            </div>
        </div>
        <div class="call-to-action">
            <a href="#" class="call-to-action__action-btn action-btn_test-drive black-text">Тест драйв</a>
            <a href="#" class="call-to-action__action-btn action-btn_order action-btn_red-btn">Заказать</a>
        </div>
    </div>
    <img src="./images/check.svg" alt="Go down" class="go-down-btn">
</section>
