.acquaintance-model {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 58px 0 37px 0;
    position: relative;

    &__heading {
        font-weight: 600;
        font-size: 90px;
    }

    &__text {
        margin-bottom: 27px;
    }

    &__tesla-background {
        position: absolute;
        top: 28%;
        width: 100%;
        height: 130px;
        text-align: center;
        background-image: inline('../images/tesla-wordmark-bg.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        margin-bottom: 18px;
    }

    &__tesla-img {
        width: 50%;
        min-width: 300px;
    }

    &__specification {
        width: 100%;
        text-align: center;
        margin-bottom: 37px;
    }

    &__feature-wrapper {
        text-align: left;
        display: inline-flex;
        margin-right: 81px;
        & > .feature:not(:last-child) {
            margin-right: 78px;
        }
    }
    &__speed-statistic {
        background-image: inline('../images/speed.svg');
        background-size: 30%;
        padding-left: 55px;
    }

    &__mileage-statistic {
        background-image: inline('../images/road.svg');
        background-size: 20%;
        padding-left: 35px;
    }
}

.feature {
    display: inline-flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: left;
}

.go-down-btn {
    cursor: pointer;
}


@media (max-width: 960px) {

    .acquaintance-model__specification {
        flex-wrap: wrap;
    }

    .acquaintance-model__feature-wrapper {
        margin-right: 0;
        margin-bottom: 43px;
        width: 100%;
        justify-content: center;
    }
}


@media (max-width: 640px) {

    .acquaintance-model {
        padding: 58px 0 0 0;

        &__tesla-background {
            top: 22%;
        }

        &__heading {
            font-size: 50px;
        }
    }

    .comfort-model__background {
        height: 40vh;
    }
}

@media (max-width: 480px) {

    .comfort-model__topic {
        box-sizing: border-box;
        min-width: 320px;
        padding: 18px 29px 34px 29px;
    }

    .acquaintance-model__feature-wrapper > .feature:not(:last-child) {
        margin-right: 41px;
    }
}
