<section class="comfort-model">
    <div class="comfort-model__background"></div>
    <h2 class="comfort-model__heading">Model S</h2>
    <article class="comfort-model__topic">
        <h3 class="topic-heading white-text">Будущее вождения</h3>
        <p class="standart-text white-text">{{ model.s.description }}</p>
        <div class="comfort-model__feature-wrapper">
            <div class="feature comfort-model__display white-text">
                <p class="little-bold-text"><span class="big-bold-text">{{ model.s.inches}}</span> дюймов</p>
                <p class="small-discription-text">Большой дисплей</p>
            </div>
            <div class="feature comfort-model__wifi white-text">
                <p class="little-bold-text">Беспроводное<br>обновление ПО</p>
                <p class="small-discription-text">Повышенная функциональность</p>
            </div>
            <div class="feature comfort-model__baggage-scope white-text">
                <p class="little-bold-text"><span class="big-bold-text">{{ model.s.baggage }}</span> литра</p>
                <p class="small-discription-text">Объём грузового пространства</p>
            </div>
        </div>
        <div class="call-to-action">
            <a href="#" class="call-to-action__action-btn action-btn_more-info white-text">Узнать больше</a>
            <a href="#" class="call-to-action__action-btn action-btn_new-order">Заказать</a>
        </div>
    </article>
</section>
