<section class="safety-model">
    <article class="safety-model__topic">
        <h3 class="topic-heading white-text">Самый безопасный автомобиль в мире</h3>
        <p class="standart-text white-text">{{ model.s.safety }}</p>
        <h3 class="feature-heading white-text heading-margin">Оценка защиты:</h3>
        <div class="safety-model__general-rating-wrapper">
            <div class="safety-model__star-rating">
                <p class="safety-model__pattern-name white-text">Спереди</p>
                <div class="safety-model__pattern-rating"></div>
            </div>
            <div class="safety-model__star-rating">
                <p class="safety-model__pattern-name white-text">Сбоку</p>
                <div class="safety-model__pattern-rating"></div>
            </div>
            <div class="safety-model__star-rating">
                <p class="safety-model__pattern-name white-text">Сбоку <span class="secondary-text">(Стойка)</span></p>
                <div class="safety-model__pattern-rating"></div>
            </div>
            <div class="safety-model__star-rating">
                <p class="safety-model__pattern-name white-text">Водитель</p>
                <div class="safety-model__pattern-rating"></div>
            </div>
            <div class="safety-model__star-rating">
                <p class="safety-model__pattern-name white-text">Пассажир</p>
                <div class="safety-model__pattern-rating"></div>
            </div>
        </div>
        <div class="safety-model__best-safeness-wrapper">
            <div class="feature safety-model__best-safeness white-text">
                <p class="great-little-bold-text"><span class="great-bold-text">5 звёзд</span><br>безопасности</p>
            </div>
        </div>
        <div class="call-to-action">
            <a href="#" class="call-to-action__action-btn action-btn_more-info white-text">Узнать больше</a>
            <a href="#" class="call-to-action__action-btn action-btn_new-order">Заказать</a>
        </div>
    </article>
    <div class="safety-model__image-wrap">
        <div class="safety-model__background"></div>
        <div class="safety-model__tesla-constructor-img-wrap">
            <img src="images/tesla-grey.png" alt="Безопасность Tesla" class="safety-model__tesla-constructor-img">
        </div>

    </div>
    <div class="сreated-by-wbs">
        <p class="сreated-by-wbs__text">Разработано в </p>
        <a href="https://webheroschool.ru" target="_blank"><img src="images/wbs.svg" alt="WebHeroSchool" class="сreated-by-wbs__logo"></a>
    </div>
</section>
