.safety-model {
    display: flex;
    align-items: center;
    position: relative;
    &__topic {
        width: 440px;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        padding: 51px 52px 63px 52px;
        background-color: var(--tesla-red);
        & > .standart-text {
            margin-bottom: 49px;
        }
    }
    &__general-rating-wrapper {
       margin-bottom: 101px;
    }
    &__star-rating {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }
    &__pattern-name {
        font-weight: bold;
        font-size: 17px;
        text-transform: uppercase;
    }
    &__pattern-rating {
        width: 125px;
        height: 23px;
        background-image: inline('../images/star.svg');
        background-repeat: 5, 0;
    }
    &__best-safeness-wrapper {
        display: flex;
        justify-content: center;
    }
    &__best-safeness {
        background-image: inline('../images/security.svg');
        background-repeat: no-repeat;
        background-size: 55px;
        background-position: left center;
        padding-left: 70px;
        margin-bottom: 60px;
    }
    &__image-wrap {
        position: relative;
        width: calc(100% - 440px)
    }
    &__background {
        height: 100%;
        width: 100%;
        position: absolute;
        top: -5px;
        background-image: inline('../images/model-s-bg.png');
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: right top;
    }
    &__tesla-constructor-img {
        width: 100%;
        margin-left: -80px;
        z-index: 1;
        opacity: .99;
    }
}

.feature-heading {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}

.heading-margin {
    margin-bottom: 26px;
}

.сreated-by-wbs {
    display: flex;
    align-items: center;
    position: absolute;
    right: 25px;
    bottom: 15px;
    &__text {
        display: inline-block;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        margin-right: 15px;
    }
}

@media (max-width: 960px) {

    /* 3 секция главной страницы */

    .safety-model {
        flex-direction: column-reverse;
        &__topic {
            width: auto;
        }
        &__general-rating-wrapper {
            margin-bottom: 50px;
        }
        &__star-rating {
            width: 35%;
            min-width: 260px;
        }
        &__best-safeness-wrapper {
            justify-content: flex-start;
        }
        &__image-wrap {
            width: 100%;
            padding: 57px 0 32px 0;
        }
        &__background {
            top: 50px;
            background-position: center top;
            background-size: contain;
        }
        &__tesla-constructor-img {
            margin-left: 0;
        }
    }

    .сreated-by-wbs {
        display: none;
    }
}

@media (max-width: 480px) {
    .safety-model__topic {
        box-sizing: border-box;
        min-width: 320px;
        padding: 18px 29px 0 29px;
        & > .feature-heading {
            display: none;
        }
        &__general-rating-wrapper {
            display: none;
        }
        &__best-safeness-wrapper {
            display: none;
        }
    }
}
